@font-face {
    font-family: lakeshor;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
:root {
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 18vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.45);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: rgba(32, 150, 228, 0.151);
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    padding-top: 2.5vh;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display:block
}
.details-title {
    background-color: cornsilk;
    position: absolute;
    left: 3vw;
    bottom: 2vw;
    font-family: airstream;
    font-style: italic;
}
.details-image {
    width: 60vw;
    height: 55vw;
    border-radius: 18%;
}
.details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: beige;
    color: rgb(13, 13, 14);
    font-size: 1.2rem;
    max-width: var(--thumbnails-image-width);
    height: var(--thumbnails-title-height);
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    border: 1px solid rgba(87, 86, 86, 0.507);
    max-width: var(--thumbnails-image-width);
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    border-radius: 25%; 
    overflow: hidden;
}
.thumbnails-anchor {
    text-decoration: none;
}
.logo-title {
    background-color: rgba(38, 77, 4, 0.63);
    color: ghostwhite;
    font-size: 2rem;
    text-align: center;
   text-transform: uppercase;
   margin: 0;
   font-family: lakeshor;
}
body, html {
    height: 100%
    
}
 @media (min-width: 568px){
    :root {
        --thumbnails-image-width: 12vw;
        --thumbnails-image-height: 10vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.20);
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        margin-right: 100px;
        padding-bottom: 206px;
        margin-left: 0;
        padding-top: 0;
        justify-content: flex-start;
        margin-right: 0;
    }
    .details-container{
        display: flex;
        
   }
    .thumbnails-title {
        width: 20vw;
        font-size: 1rem;
        
    }
    /* .thumbnails-item {
        max-width: 20vw;
        overflow:hidden;
    }
    .thumbnails-item{ 
        border: 2px solid white;
        border-radius: 20px;
        
    } */

    .thumbnails-item {
       margin-left:0;
      overflow:hidden;
      margin-top:0;
      max-width: var(--thumbnails-image-width);
      min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));

    }
    body {
        background-color: rgb(68, 68, 146);
        margin: 0%;
    }
    .thumbnails-item+.thumbnails-item {
        margin-top: 2vh;
    }
    
    .main-content{
        display: flex;
        flex-direction: row;
        height: 600px;
        justify-content: space-around; 
       
    }
    .logo-title {
        background-color: rgb(168, 147, 247);
        color: black;
        font-size:12px;
        text-align: center;
       text-transform: uppercase;
       margin: 0;
       /* padding-top : 3px;
       padding-bottom: 3px; */
    }

    .footer-title {
        width: 100%;
    }
    .details-title {
        background-color:rgb(238, 112, 10);
        position: absolute;
        left: -5vw;
        bottom: 6vw;
        font-style: italic;
        font-size: 13px;
        color: white;
        padding-left: 3vw;
        padding-right: 3vw;
        
    } 
    .details-image {
        
        display: block;
        margin-top: 6%;
        margin-right: 10%;
        width: 55vw;
        height: 45vw;
    }
     
  
    .thumbnails-image{
        /* border-radius: 20px 20px 0 0;  */
        width: 15vw;
        height: 10vw;
    }
    .thumbnails-title{
        /* border-radius: 0 0 18px 18px; */
        width: 15vw;
        height: 2vw;
        font-size: 13px;
        text-align: center;
    }
    
    .footer-title {
        background-color: rgb(168, 147, 247);
        color: rgb(0, 0, 12);
        font-size: 8px;
        text-align: center;
        position: fixed;
        bottom: 0;
        padding-top: 3px;
        padding-bottom: 3px;
    }
  

}

@media (min-width: 900px){
    :root {
        --thumbnails-image-width: 12vw;
        --thumbnails-image-height: 10vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.20);
    }
   .thumbnails-list {
       max-height: 50vh;
   }
   .details-image{
       margin-top: 16px;
       width: 65vw;
       height: 52vw;

   }
   .details-title{
       font-size: 25px;
   }
   .logo-title{
       font-size: 30px;
   }
   .thumbnails-title{
       font-size: 20px;
   }
}